html{
  font-family:calibre;
  width:100%;
}
body{
background-color:#293133;
}

html header {
  background-color: #e2e2e2;
  margin: 0;
  top:0;
  width: 100%;
  position:absolute;
  left:0;


}

html header nav ul li{
  list-style:none;
  font-style:Extrabold;
  color:white;
}



html h1{
  font-size: 1.4em;
  margin-top: 4em;
  margin-left:2em;
}

html body ul.ul2{
  width: 100%;
  padding-left:0;
  margin-left:0;
}

html body ul.ul2 li{
  list-style:none;
  background-color: #c9c9c9;
  border-bottom: solid 0.01em #b2b2b2;
  margin:0;
  width: 100%;
  left:0;
  position:relative;

}

html h2{
  font-style: normal;
  font-size: 1.2em;
  margin-top:0;
  color:white;
}
