html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  height: 100%;
  margin:0;
  padding:0;
}

body {
  text-align:center;
}

header{
  z-index: 1;
  position:relative;
  top:0;
  width: 100%;
  text-align: center;
  font-size: 1.4em;

}
header h1{
  font-family: 'calibre medium';
  margin-top:1em;
  color: rgb(100,100,100);
}

h2 {
  font-family: 'calibre Thin';
  letter-spacing: normal;
  font-size: 2em;
  color:white;
}

/* section styles */

section article {
  background-color: rgb(100, 100, 100);
  margin: 4em;
  padding: 2.5em;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
  border-radius: 6px;
  max-width: 25em;
  opacity:1;
}

article.show{
  opacity: 0;
}


section.extraInfo.open {
  display: block;
}
section.extraInfo {
  display: none;
}
section video{
  margin: 3em;
  max-width: 30em;
  }

section li{
  list-style:none;
}

section .cover{
  max-height: 17em;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
  border-radius: 6px;
  margin:0;
  padding:0;

}

section .actorImg{
  max-height: 12em;
  margin: 3em 1em 1em -7em;

}

section .simplePlot{
  width: 20em;

}

section .actors{
  display:flex;
  flex-direction: row;
  overflow: hidden;
}

section .plot, .cover{
  padding: 2em;
  margin:0;
}
section p.plot{
  margin:0;
}

section p.plot{
  text-align:center;
}

button.button{
  border: none;
  background-color: rgb(99,99,99);
  padding: 1em;
  color:white;
  margin-bottom: -4em;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
  border-radius: 6px;

}

img.hidden{
  display:none;
}

img.visible{
  display: block;
  position:absolute;
  top:0;
  left:0;
}

@media(min-width:20em){









}
